body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Añadido para darle un fondo a la página */
}

.profile-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #fff; /* Añadido para darle fondo blanco a la tarjeta */
}

.profile-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #eee;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-info p {
    margin: 5px 0;
}
.logout-container {
    margin-top: 20px;
}

.logout-button {
    display: flex;
    align-items: center;
    background-color: #f44336; /* Color rojo para el botón */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.logout-button svg {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

.logout-button:hover {
    background-color: #c62828; /* Color rojo más oscuro al pasar el ratón */
}
