body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../Cambio_contraseña/images/descarga.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #d3d3d3;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
.image-placeholder {
    width: 100px;
    height: 60px;
    background-color: #fff;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #999;
}
input, button {
    width: 80;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}
input {
    background-color: #bbb;
}
button {
    background-color: #999;
    color: white;
    cursor: pointer;
}
.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    display: none;
}